@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  padding-top: 70px;
}

.err-msg {
    color: red;
}

.inline {
  display: inline-block;
}

.inline-date {
  display: inline-block;
  padding-right: 50px;
}
